@model ShoppingCart


<form method="post">
    <input  asp-for="ProductId" />
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product.Title</h3>
                    <p class="text-white-50 fw-semibold mb-0">@Model.Product.Author</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-12 text-center pb-2">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient btn-sm text-uppercase">
                            <small>Back to Home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 text-center mb-3">
                        <img src="@Model.Product.ImageUrl" class="img-fluid rounded" alt="Product Image">
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="row pb-3">
                            <div class="col-12">
                                <span class="badge bg-primary">@Model.Product.Category.Name</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-dark text-opacity-50">ISBN: @Model.Product.ISBN</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-dark text-opacity-50 pb-2">List Price: <del>@Model.Product.ListPrice.ToString("C")</del></p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-3 col-lg-2">
                                <div class="text-dark text-opacity-50 fw-semibold">Quantity</div>
                            </div>
                            <div class="col-3 col-lg-2">
                                <div class="text-dark text-opacity-50 fw-semibold">1-50</div>
                            </div>
                            <div class="col-3 col-lg-2">
                                <div class="text-dark text-opacity-50 fw-semibold">51-100</div>
                            </div>
                            <div class="col-3 col-lg-2">
                                <div class="text-dark text-opacity-50 fw-semibold">100+</div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-warning fw-bold">Price</div>
                            </div>
                            <div class="col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-warning fw-bold">@Model.Product.Price?.ToString("C")</div>
                            </div>
                            <div class="col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-warning fw-bold">@Model.Product.Price50?.ToString("C")</div>
                            </div>
                            <div class="col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-warning fw-bold">@Model.Product.Price100?.ToString("C")</div>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-12">
                                <p class="text-secondary">@Html.Raw(Model.Product.Description)</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-text bg-primary text-white fw-semibold">Count</span>
                                    <input asp-for="Count" type="number" value="1" class="form-control text-end" aria-label="Count" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="mt-5">
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">© GaneshNakkala BulkyBookWeb Privacy</span>
            <span class="text-muted">This page is Protected</span>
        </div>
    </footer>
</div>
